body {
    margin: 0;
    background-color: rgb(0, 0, 0);
}

.main-game {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genius {
    display: grid;
    grid-template-areas: 'Rosa Roxo'
    'Marrom Laranja';
    grid-gap: 10px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 100%;
    width: 700px;
    height: 700px;
}

.orange {
    grid-area: Laranja;
    background-color: orange;
    border-bottom-right-radius: 100%;
}

.purple {
    grid-area: Roxo;
    background-color: purple;
    border-top-right-radius: 100%;
}

.brown {
    grid-area: Marrom;
    background-color:brown;
    border-bottom-left-radius: 100%;
}

.deeppink {
    grid-area: Rosa;
    background-color:deeppink;
    border-top-left-radius: 100%;
}

.selected {
    opacity: 0.4;
}